<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Edit a Grade</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Click the dropdown menu on the right for more pages.</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/add_delete_student">Add/Delete Student</a>
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/student_lookup">Student Lookup</a>
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/add_delete_assignment">Add/Delete Assignment</a>
			<a class="nav-item nav-link active" href="">Edit A Grade <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/roster">Class Roster</a>
			<a class="nav-item nav-link" href="{{url_for('logout')}}">Log out</a>
		</nav>
		<div class="jumbotron text-center">
			<h1 class="h1-hover-change">IS 668 - Edit a Student's Grade</h1>
		</div>
		{% if gradeToChange == False %}
		<div class="alert alert-danger" role="alert">
			That same grade already exists for that student/assignment... change the grade to something else. and we will update it accordingly.
		</div>
		{% endif %}
		<form class="container-fluid" action="/edit_grades" method="POST">
			<div class="form-group">
				<label for="studID">Select the student's student ID.</label>
				<select class="form-control" id="studID" name="studID">
					{% for student in students %}
					<option>{{ student.studentId }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="assignmentName">Select the Assignment of the student you want to edit a grade for.</label>
				<select class="form-control" id="assignmentName" name="assignmentName">
					{% for assignment in assignments %}
					<option>{{ assignment.assignmentName }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="assignmentGrade">Enter Assignment Grade <small>(Give grades of 0 to 100)</small></label>
				<input type="number" class="form-control" id="assignmentGrade" name="assignmentGrade" placeholder="Assignment Grade" min="0" max="100" required>
			</div>
			<button type="submit" class="btn btn-primary" id="editGrade">Edit Grade</button>
		</form>
		<div class="container-fluid text-center">
		    <strong>Students</strong>
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">Student ID</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
					<tr>
						<th scope="row">{{ student.studentId }}</th>
						<td>{{ student.firstName }}</td>
						<td>{{ student.lastName }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<strong>Grade Table</strong>
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">Grade ID</th>
						<th scope="col">Student ID</th>
						<th scope="col">Assignment ID</th>
						<th scope="col">Grades Earned</th>
					</tr>
				</thead>
				<tbody>
					{% for grade in grades %}
					<tr>
						<th scope="row">{{ grade.gradeId }}</th>
						<td>{{ grade.studentId }}</td>
						<td>{{ grade.assignmentId }}</td>
						<td>{{ grade.grade }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<strong>Assignments</strong>
			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">Assignment ID</th>
						<th scope="col">AssignmentName</th>
					</tr>
				</thead>
				<tbody>
					{% for assignment in assignments %}
					<tr>
						<th scope="row">{{ assignment.assignmentId }}</th>
						<td>{{ assignment.assignmentName }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
