<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<!-- script to get the avg grade for overall grade. -->
		<script type="text/javascript">
            $(function () {
                $('tbody tr').each(function () {
                    //the value of sum needs to be reset for each row, so it has to be set inside the row loop
                    var sum = 0
                    var i = 0
                    var avg = 0
                    //find the grades elements in the current row and sum it.. and then get the avg
                    $(this).find('.grades').each(function () {
                        //uses a unary operator to add together
                        //console.log($(this).text())
                        //console.log("looking at each cell")
                        // This if statement checks to see if the cell has None in it. If it does, the cell will be ignored for the overall grade.
                        if ($(this).text() != "None"){
                            sum += +$(this).text() || 0;
                            //console.log(sum)
                            //console.log("end of cell")
                            i = i + 1
                            avg = sum/i
                        }
                    });
                    //set the value of currents rows avg to the total grades element in the current row
                    //console.log(sum);
                    //console.log(i)
                    //console.log("end of row")
                    $('#total_grade', this).html(avg+"%");
                });
            });
		</script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Roster</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Click the dropdown menu on the right for more pages.</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/add_delete_student">Add/Delete Student</a>
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/student_lookup">Student Lookup</a>
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/add_delete_assignment">Add/Delete Assignment</a>
			<a class="nav-item nav-link" href="https://andrewaustin.pythonanywhere.com/edit_grades">Edit A Grade</a>
			<a class="nav-item nav-link active" href="">Class Roster <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="{{url_for('logout')}}">Log out</a>
		</nav>
		<div class="jumbotron text-center">
			<h1 class="h1-hover-change">IS 668 - Roster</h1>
		</div>
		<div class="container-fluid text-center">
			<table class="table table-striped table-dark" id="roster">
				<thead>
					<tr>
						<th scope="col">Student ID </th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Major</th>
						<th scope="col">Email Address</th>
						{% for assignment in assignments %}
						<th scope="col">{{ assignment.assignmentName }} (ID={{ assignment.assignmentId }})</th>
						{% endfor %}
						<th scope="col">Overall Grade (Average)</th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
					<tr>
						<th scope="row">{{ student.studentId }}</th>
						<td>{{ student.firstName }}</td>
						<td>{{ student.lastName }}</td>
						<td>{{ student.studentMajor }}</td>
						<td>{{ student.studentEmail }}</td>
						{% for grade in grades %}
						{% if grade.studentId == student.studentId  %}
						<td class="grades">
							{{- grade.grade -}}
						</td>
						{% endif %}
						{% endfor %}
						<td id="total_grade"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
